<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Florian Pichler</string>
	<key>Builder Version</key>
	<string>11601.1.39.0.2</string>
	<key>CFBundleDisplayName</key>
	<string>KeyboardPagination</string>
	<key>CFBundleIdentifier</key>
	<string>de.florianpichler.safari.keyboardpagination</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>end.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Keyboard shortcuts for sites with paginated content</string>
	<key>DeveloperIdentifier</key>
	<string>6WAYJC7M67</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
</dict>
</plist>
